/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  --sos-green: green;
  margin: 0;
  font-family: "IBM Plex Mono", monospace, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: var(--sos-green);
  text-align: center;
  padding-top: 50px;
}

:focus {
  border: 3px solid red;
}
.navbar a {
  color: var(--sos-green);
}
.navbar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 3px dashed #fff;
  border-bottom: 3px dashed #fff;
}

.sos-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.input {
  color: #fff;
  font-size: 300%;
}

::placeholder {
  color: var(--sos-green) !important;
}

.form-control {
  background-color: #000 !important;
  font-size: 2rem;
  height: 100px;
  border: 2px dashed green;
  color: #ffff;
}

.form-control:focus {
  color: red; /* Change the text color to red when in focus */
}
.sos-password-form {
  font-size: 2rem;
}

.sos-nav-top,
.sos-nav-bottom {
  display: flex;
  align-items: center;
  color: var(--sos-green);
  margin-top: 50px;
  min-height: 50px;
  border-top: 2px solid var(--sos-green);
  border-bottom: 2px solid var(--sos-green);
}

.sos-nav-top-right,
.sos-nav-bottom-right {
  text-align: right;
}

.ascii-art-pre {
  height: 12em; /* Adjust the height as needed */
}
