/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono&display=swap");

body {
  --sos-green: green;
  margin: 0;
  font-family: "Courier Prime", monospace, "IBM Plex Mono", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.caret-color {
  caret-color: var(
    --sos-green
  ) !important; /* Change the color to your desired color */
}

h2 {
  color: var(--sos-green);
  text-align: center;
  padding-top: 50px;
}

:focus {
  border: 3px solid var(--sos-green);
}
.navbar a {
  color: var(--sos-green);
}
.navbar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 3px dashed #fff;
  border-bottom: 3px dashed #fff;
}

.sos-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.input {
  color: #fff;
  font-size: 300%;
}

::placeholder {
  color: var(--sos-green) !important;
}

.form-control {
  background-color: #000 !important;
  font-size: 2rem;
  height: 100px;
  border: 2px dashed green;
  color: #ffff;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  color: red; /* Change the text color to red when in focus */
}
.sos-location {
  height: 32px;
  border: none;
}

.sos-password-form {
  font-size: 1rem;
  text-align: center;
}

.sos-nav-top,
.sos-nav-bottom {
  display: flex;
  align-items: center;
  color: var(--sos-green);
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 50px;
  border-top: 2px solid var(--sos-green);
  border-bottom: 2px solid var(--sos-green);
}

.sos-nav-top-right,
.sos-nav-bottom-right {
  text-align: right;
}

.sos-text-label {
  padding-bottom: 50px;
}

.ascii-art-pre {
  height: 12em; /* Adjust the height as needed */
  overflow: hidden;
}

.instructions {
  border: 2px solid var(--sos-green);
  padding: 25px;
  margin-left: 30px;
}
.co-1:before {
  content: "-/-";
  position: absolute;
  margin-top: 50px;
  margin-left: -30px;
}
.co-container {
  padding: 10px;
  margin-bottom: 20px;
  padding-left: 40px;
  border: 2px solid var(--sos-green);
}
